version: '3'
services:
  site:
    build:
      context: .
      dockerfile: site.Dockerfile
    volumes:
      - "./public_html:/var/www/html"
      - "/letsencrypt:/etc/letsencrypt"
      - "./apache2:/etc/apache2/"
    ports:
      - "80:80"
      - "443:443"
  letsencrypt:
    build:
      context: .
      dockerfile: lets_encrypt.Dockerfile
    command: ["standalone"]
    environment:
      - EMAIL=me@lucaszanella.com
      - CERT_NAME=lucaszanella.com
      - DOMAINS=lucaszanella.com
    volumes:
      - "./public_html:/var/www/html"
      - "/letsencrypt:/etc/letsencrypt"
      - "./apache2:/etc/apache2/"
      - "/letsencrypt_var_log:/var/log/letsencrypt"
  #   ports:
  #    - "80:80"
  #    - "443:443"
