version: '3'
services:
  site:
    build:
      context: .
      dockerfile: site.Dockerfile
    volumes:
      - "./public_html:/var/www/html"
      - "/letsencrypt:/etc/letsencrypt/live/lucaszanella.com/"
      - "./apache2:/etc/apache2/"
    ports:
      - "80:80"
      - "443:443"
  letsencrypt:
    build:
      context: .
      dockerfile: lets_encrypt.Dockerfile
    volumes:
      - "./public_html:/var/www/html"
      - "/letsencrypt:/etc/letsencrypt/live/lucaszanella.com/"
      - "./apache2:/etc/apache2/"
      - "/letsencrypt_var_log:/var/log/letsencrypt"
